.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s;
    padding: 30px 10px;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
}
.menu img{
    margin-bottom: 20px;
}

.menu p{
    font-size: 15px;
    margin-bottom: 0;
}

.menu:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}