.cart{
    background-color: rgb(235, 234, 234);
    padding: 15px;
    border-radius: 20px;
}

.cart img{
    width: 100px;
}

.cart-info{}

.cart-details{
    justify-content: center;
    align-items: center;
}

.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counter{
    justify-content: center;
    display: flex;
}

.counter input[type="text"]{
    width: 30px;
    align-items: center;
    border: 0;
    border-radius: 10px;
    padding: 10px;
}
