.banner{
    background-image: url(../../images/bannerbackground.png);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646
}
.banner h2{
    margin-bottom: 20px;
}
.search-section{
    display: flex;
}

.search-section button{
    width: 120px;
    border-radius: 50px;
    margin-left: -110px;
}

.search-section input[type="text"]{
    width: 470px;
    border-radius: 50px;
    border: transparent;
    padding: 0 20px;
}

.search-section input:focus{
    outline: 0;
}

@media only screen and (max-width:576px){
    .search-section input[type="text"]{
        width: 400px;
        border-radius: 50px;
        border: transparent;
        padding: 0 20px;
    }
    .banner{
        height: 60vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646
    }
}